<div class="container-fluid py-0 px-0">
<div class="row">
  <div class="col-lg-12 mb-3">
    <mat-card class="text-white" style="background-color: #27272d">
      <div class="title">
        <mat-icon>people</mat-icon>
        <span>&nbsp;Members</span>
      </div>
      <hr />
      <div class="d-flex flex-wrap">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shree</mat-card-title>
          <mat-card-subtitle>Admin access</mat-card-subtitle>
        </mat-card-header>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Hari</mat-card-title>
          <mat-card-subtitle>Full access</mat-card-subtitle>
        </mat-card-header>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Dadi</mat-card-title>
          <mat-card-subtitle>Full access</mat-card-subtitle>
        </mat-card-header>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mom</mat-card-title>
          <mat-card-subtitle>Full access</mat-card-subtitle>
        </mat-card-header>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Kevin</mat-card-title>
          <mat-card-subtitle>Full access</mat-card-subtitle>
        </mat-card-header>
      </div>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <mat-card class="containt_one_2">
      <div class="title">
        <mat-icon>notifications</mat-icon>
        <span>&nbsp;Notification</span>
      </div>
      <mat-list role="list">
        <mat-list-item
          role="listitem"
          style="background-color: #33b5e5; color: #fff; border-radius: 10px"
          ><mat-icon>notifications</mat-icon>Info notifications</mat-list-item
        >
        <mat-list-item
          role="listitem"
          style="background-color: #feba39; color: #fff; border-radius: 10px"
          ><mat-icon>warning</mat-icon>Warning notifications</mat-list-item
        >
        <mat-list-item
          role="listitem"
          style="background-color: #ff4e5c; color: #fff; border-radius: 10px"
          ><mat-icon>error_outline</mat-icon>Error notifications</mat-list-item
        >
      </mat-list>
    </mat-card>
  </div>
</div>
</div>
