<mat-card class="containt_one_1">
  <div class="title">
    <mat-icon>people</mat-icon>
    <span>&nbsp;Members</span>
  </div>
  <hr />
  <div class="members">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shree</mat-card-title>
      <mat-card-subtitle>Admin access</mat-card-subtitle>
    </mat-card-header>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Hari</mat-card-title>
      <mat-card-subtitle>Full access</mat-card-subtitle>
    </mat-card-header>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Dadi</mat-card-title>
      <mat-card-subtitle>Full access</mat-card-subtitle>
    </mat-card-header>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mom</mat-card-title>
      <mat-card-subtitle>Full access</mat-card-subtitle>
    </mat-card-header>
    <mat-divider [vertical]="true"></mat-divider>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Kevin</mat-card-title>
      <mat-card-subtitle>Full access</mat-card-subtitle>
    </mat-card-header>
  </div>
</mat-card>
<mat-card class="containt_one_2">
  <div class="title">
    <mat-icon>notifications</mat-icon>
    <span>&nbsp;Notification</span>
  </div>
  <mat-list role="list">
    <mat-list-item role="listitem" style="background-color: #33B5E5;color: #fff;border-radius: 10px;"
      ><mat-icon>notifications</mat-icon>Info notifications</mat-list-item
    >
    <mat-list-item role="listitem" style="background-color: #FEBA39;color: #fff;border-radius: 10px;"
      ><mat-icon>warning</mat-icon>Warning notifications</mat-list-item
    >
    <mat-list-item role="listitem" style="background-color: #FF4E5C;color: #fff;border-radius: 10px;"
      ><mat-icon>error_outline</mat-icon>Error notifications</mat-list-item
    >
  </mat-list>
</mat-card>
