<div class="container-fluid overflow-hidden px-0 py-0">
  <mat-card class="sidebar-top">
    <span class="logo">Mehta Cad Cam </span>

    <span *ngIf="getLogin()">
      {{uname }} <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="changepwd">
          <mat-icon>password</mat-icon>
          <span >Change Password</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
  </mat-card>
  <div class="row g-0">
    <div class="col-md-1 bg-dark px-0 py-0">
      <mat-card class="sidebar-left">
        <div class="topnav" id="myTopnav">
          <a href="#home"
            ><div class="menu">
              <mat-icon>dashboard</mat-icon>
              <span class="menu_title">Dashboard</span>
            </div></a
          >
          <a href="#news"
            ><div class="menu">
              <mat-icon>message</mat-icon>
              <span class="menu_title">Messages</span>
            </div></a
          >
          <a href="#contact"
            ><div class="menu">
              <mat-icon>people</mat-icon>
              <span class="menu_title">Members</span>
            </div></a
          >
          <a href="#contact"
            ><div class="menu">
              <mat-icon>insights</mat-icon>
              <span class="menu_title">Statics</span>
            </div></a
          >
          <a href="#contact"
            ><div class="menu">
              <mat-icon>devices</mat-icon>
              <span class="menu_title">Rooms/Devices</span>
            </div></a
          >
          <a href="#contact">
            <div class="menu">
              <mat-icon>settings</mat-icon>
              <span class="menu_title">Settings</span>
            </div></a
          >
          <a href="javascript:void(0);" class="icon" (click)="myFunction()">
            <div class="menu pull-right mx-4">
              <span class="menu_title"><i class="fa fa-bars"></i></span>
            </div>
          </a>
        </div>
        <!-- <app-sidebarleft id="myTopnav"></app-sidebarleft> -->
      </mat-card>
    </div>
    <div class="col-md-7 bg-dark px-0 py-0">
      <mat-card class="sidebar-center">
        <app-sidebarcenter></app-sidebarcenter>
      </mat-card>
    </div>
    <div class="col-md-4 bg-dark px-0 py-0">
      <mat-card class="sidebar-right">
        <app-sidebarright></app-sidebarright>
      </mat-card>
    </div>
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
