<h1>Appartment</h1>
<div class="rooms">
  <mat-card class="example-card" *ngFor="let r of getallrooms"
  (click)="openDialog(r.roomsid)" >
    <mat-icon *ngIf="r.roomsid==1">living</mat-icon>
    <mat-icon *ngIf="r.roomsid==2">bathroom</mat-icon>

    <mat-card-header>
      <mat-card-title>{{r.room}}</mat-card-title>
    </mat-card-header>
  </mat-card>
  <!-- <mat-card class="example-card"> -->
    <!-- <mat-icon>bedroom_child</mat-icon> -->

    <!-- <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Badroom</mat-card-title>
      <mat-card-subtitle>Room 2</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-icon>dining</mat-icon>

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Dining</mat-card-title>
      <mat-card-subtitle>Room 3</mat-card-subtitle>

    </mat-card-header>

  </mat-card>
  <mat-card class="example-card">
    <mat-icon>bathroom</mat-icon>

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Bathroom</mat-card-title>
      <mat-card-subtitle>Room 5</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-icon>kitchen</mat-icon>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Kitchen</mat-card-title>
      <mat-card-subtitle>Room 4</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-icon>book</mat-icon>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Study room</mat-card-title>
      <mat-card-subtitle>Room 3</mat-card-subtitle>
    </mat-card-header>
  </mat-card> -->
</div>
