<div class="title">
  <mat-icon>apartment</mat-icon> <span>&nbsp;Apartments</span>
</div>
<mat-divider [inset]="true"></mat-divider>
<div class="aptlist" style="margin-top: 10px">
  <mat-chip-list>
    <mat-chip
      style="cursor: pointer; padding: 20px;background-color: black;color:#fff;"
      *ngFor="let apt of getallpt"
      (click)="openDialog(apt.aptid)"
      >
      <mat-icon>apartment</mat-icon>&nbsp;&nbsp;{{ apt.aptname | uppercase }}</mat-chip
    >
  </mat-chip-list>
  <!-- <mat-card class="example-card" *ngFor="let apt of getallpt">
    <mat-icon *ngIf="apt.aptid == 1">living</mat-icon>
    <mat-icon *ngIf="apt.aptid == 2">bedroom_child</mat-icon>
    <mat-icon *ngIf="apt.aptid == 3">bathroom</mat-icon>
    <mat-icon *ngIf="apt.aptid == 4">kitchen</mat-icon>
    <mat-icon *ngIf="apt.aptid == 5">book</mat-icon>

    <mat-card-header>
      <mat-card-title>{{ apt.aptname | uppercase }}</mat-card-title>
    </mat-card-header>
    <button mat-raised-button (click)="openDialog(apt.aptid)">Enter</button>
  </mat-card> -->
</div>
