<div class="row" *ngIf="loginform">
  <mat-card>
    <mat-error *ngIf="erroruser">Wrong Username & Password...</mat-error>
    <mat-card-content>
      <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Username"
            formControlName="loginid"
            required
            autofocus
          />
          <mat-error> Please provide a valid email address </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />

          <mat-error> Please provide a valid password </mat-error>
        </mat-form-field>

        <button
          type="submit"
          [disabled]="!loginform.valid"
          [mat-dialog-close]="false"
          cdkFocusInitial
          mat-raised-button
          class="pull-right"
          color="primary"
        >
          Login
        </button>

      </form>
    </mat-card-content>
    <!-- <a mat-button href="#" target="_blank">Link</a>
    <button mat-raised-button
    color="danger"
    >Change Password</button> -->
  </mat-card>
</div>
