<mat-card class="containt_three">
  <h2>Hi, Ravi ! Good evening...</h2>
</mat-card>

<div class="sidebar-sub">
  <mat-card class="containt_one">
    <mat-chip-list>
      <mat-chip (click)="apt()" color="accent" selected>
        <mat-icon>apartment</mat-icon>&nbsp; Appartment</mat-chip
      >
      <mat-chip (click)="office()" color="primary">
        <mat-icon>corporate_fare</mat-icon>&nbsp; Office</mat-chip
      >
    </mat-chip-list>
    <!--
      <ul>
        <li *ngFor="let data of alldata">{{data.name}}-{{data.email}}</li>
      </ul>
    </div> -->
  </mat-card>

  <mat-card class="containt_two">
    <app-appartments *ngIf="aptselected == true"></app-appartments>
    <app-offices *ngIf="offselected == true"></app-offices>
    <!-- <form
      [formGroup]="formGroup"
      (ngSubmit)="onFormSubmit()"
      ngNativeValidate
    >
      <div class="short">
        <div class="home">
          <mat-icon>home</mat-icon>
          <mat-slide-toggle
            class="example-margin"
            [color]="color"
            formControlName="acceptTerms"
            >{{ formGroup.status == "VALID" ? "ON" : "OFF" }}
          </mat-slide-toggle>
        </div>

        <div class="home">
          <mat-icon>tv</mat-icon>
          <mat-slide-toggle
            class="example-margin"
            [color]="color"
            formControlName="acceptTerms"
            >{{ formGroup.status == "VALID" ? "ON" : "OFF" }}
          </mat-slide-toggle>
        </div>

        <div class="home">
          <mat-icon>wifi</mat-icon>
          <mat-slide-toggle
            class="example-margin"
            [color]="color"
            formControlName="acceptTerms"
            >{{ formGroup.status == "VALID" ? "ON" : "OFF" }}
          </mat-slide-toggle>
        </div>

        <div class="home">
          <mat-icon>support</mat-icon>
          <mat-slide-toggle
            class="example-margin"
            [color]="color"
            formControlName="acceptTerms"
            >{{ formGroup.status == "VALID" ? "ON" : "OFF" }}
          </mat-slide-toggle>
        </div>
      </div>
    </form> -->
  </mat-card>
</div>
<mat-card class="containt_four">
  <div class="title">
    <!-- <mat-icon>photo_camera</mat-icon><span>&nbsp;Others </span> -->
  </div>
  <!-- <ng-container #appartment >
    <app-appartments></app-appartments>
  </ng-container>
  <ng-template #office >
    <app-offices></app-offices>
  </ng-template> -->
  <div class="appoff">
    <app-offices></app-offices>
    <!-- <router-outlet></router-outlet> -->
    <!-- <app-sidebarcenter></app-sidebarcenter> -->
    <!-- <app-rooms></app-rooms> -->
  </div>
</mat-card>
