<div class="container-fluid py-0 px-0">

<mat-card class="containt_three d-flex container-fluid">
  <div>
    <h2 *ngIf="getLogin() && uname">
      {{ "Welcome " + uname | titlecase }}...!
    </h2>
  </div>
  <div *ngIf="!getLogin()">
    <h2>Welcome Hauch...!</h2>
  </div>
</mat-card>
<div class="row justify-content-between">
  <div class="col-md-6 col-sm-12 mb-4" style="height: 180px !important">
    <mat-card class="text-white h-100" style="background-color: #27272d">
      <h2 *ngIf="!getLogin()">No data found...</h2>
      <mat-chip-list *ngIf="getLogin()">
        <mat-chip
          color="accent"
          selected
          *ngFor="let att of getAptType"
          matTooltip="Click to get details"
        >
          <span (click)="getAptbyid(att.id, uid)">
            {{ att.apttype | titlecase }}</span
          >
        </mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>

  <div class="col-md-6 col-sm-12" style="height: 180px !important">
    <mat-card class="text-white h-100" style="background-color: #27272d">
      <h2>
        <span><mat-icon>apartment</mat-icon>Appartments</span>
      </h2>
      <mat-chip-list *ngIf="getLogin()">
        <mat-chip
          matTooltip="Click to get rooms"
          (click)="roomlist(aptdata.id)"
          *ngFor="let aptdata of getuseraptdata"
          >{{ aptdata.aptname | titlecase }}</mat-chip
        >
      </mat-chip-list>
      <mat-error *ngIf="errorMessage">{{ apterrormsg }}</mat-error>
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="isLoadinga"
      ></mat-progress-bar>
    </mat-card>
  </div>
</div>
<div class="row">
  <div class="w-100 col-sm-12 col-md-12" style="height: 220px !important">
    <mat-card class="text-white h-100" style="background-color: #27272d">
      <h2>
        <span><mat-icon>room</mat-icon>Rooms</span>
      </h2>

      <div *ngIf="!errorMessage">
        <mat-chip-list *ngIf="getLogin()" style="margin-top: 10px">
          <mat-chip
            (click)="openDialog(roomdata.id, roomdata.roomname)"
            *ngFor="let roomdata of roomData"
            >{{ roomdata.roomname | titlecase }}</mat-chip
          >
        </mat-chip-list>
        <mat-progress-bar
          mode="indeterminate"
          *ngIf="isLoading"
        ></mat-progress-bar>
      </div>
      <mat-error *ngIf="errorMessage">{{ apterrormsg }}</mat-error>
      <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    </mat-card>
  </div>
</div>
</div>
