<mat-card class="sidebar-top">Veritas HomeAuto</mat-card>
<div class="main">
  <mat-card class="sidebar-left">
    <div class="menu">
      <mat-icon>dashboard</mat-icon>
      <span class="menu_title">Dashboard</span>
    </div>
    <div class="menu">
      <mat-icon>message</mat-icon>
      <span class="menu_title">Messages</span>
    </div>
    <div class="menu">
      <mat-icon>people</mat-icon>
      <span class="menu_title">Members</span>
    </div>
    <div class="menu">
      <mat-icon>insights</mat-icon>
      <span class="menu_title">Statics</span>
    </div>
    <div class="menu">
      <mat-icon>devices</mat-icon>
      <span class="menu_title">Rooms/Devices</span>
    </div>
    <div class="menu">
      <mat-icon>settings</mat-icon>
      <span class="menu_title">Settings</span>
    </div>
  </mat-card>
  <mat-card class="sidebar-center">
    <mat-card class="containt_three">
      <h2>Hi, Ravi ! Good evening...</h2>
    </mat-card>

    <div class="sidebar-sub">
      <mat-card class="containt_one">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip routerLink="/appartment"  color="accent" selected>
            <mat-icon>apartment</mat-icon>&nbsp; Appartment</mat-chip>
          <mat-chip routerLink="/office"  color="primary"  >
            <mat-icon>corporate_fare</mat-icon>&nbsp; Office</mat-chip
          >
        </mat-chip-list>
        <!--
          <ul>
            <li *ngFor="let data of alldata">{{data.name}}-{{data.email}}</li>
          </ul>
        </div> -->
      </mat-card>
      <mat-card class="containt_two">
        <div class="title">
          <mat-icon>shortcut</mat-icon> <span>&nbsp;Shortcuts</span>
        </div>
        <mat-divider [inset]="true"></mat-divider>
        <form
          [formGroup]="formGroup"
          (ngSubmit)="onFormSubmit()"
          ngNativeValidate
        >
          <div class="short">
            <div class="home">
              <mat-icon>home</mat-icon>
              <mat-slide-toggle
                class="example-margin"
                [color]="color"
                formControlName="acceptTerms"
                >{{ formGroup.status == "VALID" ? "ON" : "OFF" }}
              </mat-slide-toggle>
            </div>

            <div class="home">
              <mat-icon>tv</mat-icon>
              <mat-slide-toggle
                class="example-margin"
                [color]="color"
                formControlName="acceptTerms"
                >{{ formGroup.status == "VALID" ? "ON" : "OFF" }}
              </mat-slide-toggle>
            </div>

            <div class="home">
              <mat-icon>wifi</mat-icon>
              <mat-slide-toggle
                class="example-margin"
                [color]="color"
                formControlName="acceptTerms"
                >{{ formGroup.status == "VALID" ? "ON" : "OFF" }}
              </mat-slide-toggle>
            </div>

            <div class="home">
              <mat-icon>support</mat-icon>
              <mat-slide-toggle
                class="example-margin"
                [color]="color"
                formControlName="acceptTerms"
                >{{ formGroup.status == "VALID" ? "ON" : "OFF" }}
              </mat-slide-toggle>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
    <mat-card class="containt_four">
      <div class="title">
        <!-- <mat-icon>photo_camera</mat-icon><span>&nbsp;Others </span> -->
      </div>
      <!-- <ng-container #appartment >
        <app-appartments></app-appartments>
      </ng-container>
      <ng-template #office >
        <app-offices></app-offices>
      </ng-template> -->
      <div class="appoff" >
        <router-outlet></router-outlet>
      </div>
    </mat-card>
  </mat-card>
  <mat-card class="sidebar-right">
    <mat-card class="containt_one_1">
      <div class="title">
        <mat-icon>people</mat-icon>
        <span>&nbsp;Members</span>
      </div>
      <hr />
      <div class="members">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shree</mat-card-title>
          <mat-card-subtitle>Admin access</mat-card-subtitle>
        </mat-card-header>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Hari</mat-card-title>
          <mat-card-subtitle>Full access</mat-card-subtitle>
        </mat-card-header>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Dadi</mat-card-title>
          <mat-card-subtitle>Full access</mat-card-subtitle>
        </mat-card-header>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mom</mat-card-title>
          <mat-card-subtitle>Full access</mat-card-subtitle>
        </mat-card-header>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Kevin</mat-card-title>
          <mat-card-subtitle>Full access</mat-card-subtitle>
        </mat-card-header>
      </div>
    </mat-card>
    <mat-card class="containt_one_2">
      <div class="title">
        <mat-icon>notifications</mat-icon>
        <span>&nbsp;Notification</span>
      </div>
      <mat-list role="list">
        <mat-list-item role="listitem">Item 1</mat-list-item>
        <mat-list-item role="listitem">Item 2</mat-list-item>
        <mat-list-item role="listitem">Item 3</mat-list-item>
      </mat-list>
    </mat-card>
  </mat-card>
</div>
