mat-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.devices {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.example-card {
  cursor: pointer;
  width: auto;
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0.5rem 1rem 1rem 0 rgba(0, 0, 0, 0.6);
  color: #333;
  font-family: "Rubik", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 50%;

}
mat-card-header{display: flex;flex-direction: column;justify-content: center;align-items: center;}
.example-card:hover {
  background-color: black;
  color: #fff;
}
.example-card:hover mat-card-subtitle {
  color: #fff; text-align: center;
}
.rs-control .rs-range-color {
  background-color: #61e054;
}
.rs-control .rs-path-color {
  background-color: #ffffff;
}
.rs-control .rs-handle:after {
  background-color: #161611;
}
.rs-control .rs-bg-color {
  background-color: #ffffff;
}
::ng-deep .success-snackbar{
  background: lightgreen;
  padding: 100px;
  font-size: 54px !important;
  color: darkslategray;
  text-transform: uppercase;
}
::ng-deep .mat-simple-snackbar{
  padding: 5px;
  font-size: 26px;
}
::ng-deep .mat-simple-snackbar action{
  font-size: 30px;
}
