
        <div class="menu">
          <mat-icon>dashboard</mat-icon>
          <span class="menu_title">Dashboard</span>
        </div>
        <div class="menu">
          <mat-icon>message</mat-icon>
          <span class="menu_title">Messages</span>
        </div>
        <div class="menu">
          <mat-icon>people</mat-icon>
          <span class="menu_title">Members</span>
        </div>
        <div class="menu">
          <mat-icon>insights</mat-icon>
          <span class="menu_title">Statics</span>
        </div>
        <div class="menu">
          <mat-icon>devices</mat-icon>
          <span class="menu_title">Rooms/Devices</span>
        </div>
        <div class="menu">
          <mat-icon>settings</mat-icon>
          <span class="menu_title">Settings</span>
        </div>




