<h3><mat-icon>business</mat-icon>&nbsp;Office</h3>
<div >
  <h3>No data found for this type...</h3>
  <!-- <mat-chip-list>
    <mat-chip>
      <mat-icon>business</mat-icon>&nbsp;&nbsp;Office-1</mat-chip>

      <mat-chip>
        <mat-icon>business</mat-icon>&nbsp;&nbsp;Office-2</mat-chip>

        <mat-chip>
          <mat-icon>business</mat-icon>&nbsp;&nbsp;Office-3</mat-chip>

          <mat-chip>
            <mat-icon>business</mat-icon>&nbsp;&nbsp;Office-4</mat-chip>

            <mat-chip>
              <mat-icon>business</mat-icon>&nbsp;&nbsp;Office-5</mat-chip>

              <mat-chip>
                <mat-icon>business</mat-icon>&nbsp;&nbsp;Office-6</mat-chip>

                <mat-chip>
                  <mat-icon>business</mat-icon>&nbsp;&nbsp;Office-7</mat-chip>

                  <mat-chip>
                    <mat-icon>business</mat-icon>&nbsp;&nbsp;Office-8</mat-chip>
  </mat-chip-list> -->

</div>
