<h3><mat-icon>business</mat-icon>&nbsp;Office</h3>
<div class="rooms">
  <mat-card class="example-card">
    <mat-icon>living</mat-icon>
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Boss cabin</mat-card-title>
      <mat-card-subtitle>Room 1</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-icon>bedroom_child</mat-icon>

    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Office temple</mat-card-title>
      <mat-card-subtitle>Room 2</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card">
    <mat-icon>dining</mat-icon>

    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Meeting Room</mat-card-title>
      <mat-card-subtitle>Room 3</mat-card-subtitle>

    </mat-card-header>

  </mat-card>
  <mat-card class="example-card">
    <mat-icon>book</mat-icon>

    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Library</mat-card-title>
      <mat-card-subtitle>Room 5</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card class="example-card">
    <mat-icon>book</mat-icon>
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Study room</mat-card-title>
      <mat-card-subtitle>Room 3</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
