

.example-card {
  text-align: center;
  max-width: 120px;
  height: 120px;
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.rooms {
  display: flex;
  flex: 1;
  overflow-x: scroll;
}
mat-card-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
}
mat-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 300px;
  transition: .5s;
}
mat-card:hover {
  background-color: #28282e;
  color: #fff;
}
mat-card:hover mat-card-subtitle {
  color: #fff;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E13872;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(236, 101, 101);
}
/* mat-icon{font-size: 40px;} */
